n8n_workflow_atual_upsert.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        61568,
        22592
      ],
      "id": "7218fe5a-3b5c-4650-a5ef-b5bd4fa25142",
      "webhookId": "bd21ec3b-62f4-417d-b06c-650f1e6645ec"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "AMBIENTE",
              "value": "teste"
            },
            {
              "name": "IA_MODE",
              "value": "real"
            },
            {
              "name": "telefone",
              "value": "={{ $json.body?.telefone || $json.telefone || $json.body?.from || $json.from }}"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.body?.mensagem || $json.mensagem || $json.body?.text || $json.text }}"
            },
            {
              "name": "nome",
              "value": "={{ $json.body?.nome || $json.nome || $json.body?.senderName || $json.senderName }}"
            },
            {
              "name": "WHATSAPP_API_URL",
              "value": "https://httpbin.org"
            },
            {
              "name": "WHATSAPP_API_TOKEN",
              "value": "preencher_depois"
            },
            {
              "name": "WHATSAPP_INSTANCE",
              "value": "adao-imoveis"
            },
            {
              "name": "GERENTE_TELEFONE",
              "value": "5562994121030"
            },
            {
              "name": "WHATSAPP_ENDPOINT",
              "value": "/post"
            }
          ]
        },
        "options": {}
      },
      "name": "Normalizar Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        61776,
        22592
      ],
      "id": "50273281-d80c-42df-8692-dab76e005a36"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{$json.telefone}}"
            }
          ]
        }
      },
      "name": "Consultar Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        61968,
        22592
      ],
      "alwaysOutputData": true,
      "id": "e35e2864-a760-4170-849b-0bb24586044e",
      "credentials": {
        "supabaseApi": {
          "id": "3Hp4m3KaX23RwFHq",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.id}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Novo Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        62176,
        22592
      ],
      "id": "62ecc455-8f71-4f53-b5c3-d91f05deff5a"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Normalizar Payload').first().json.telefone }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Normalizar Payload').first().json.nome }}"
            },
            {
              "fieldId": "historico_mensagens",
              "fieldValue": "=[]"
            }
          ]
        },
        "operation": "upsert",
        "columns": "telefone"
      },
      "name": "Criar Novo Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        62368,
        22464
      ],
      "id": "8e29cbc2-c9c1-4cd8-b85e-8cf707514f84",
      "credentials": {
        "supabaseApi": {
          "id": "3Hp4m3KaX23RwFHq",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "name": "Juntar Fluxos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        62576,
        22592
      ],
      "id": "bb4026fe-6137-44c6-b237-d7896ea349a0"
    },
    {
      "parameters": {
        "jsCode": "let payload = $('Normalizar Payload').first().json;\nlet lead = $json;\n\nif (!lead || !lead.telefone) {\n  lead = { telefone: payload.telefone, historico_mensagens: [] };\n}\n\nlet historico = lead.historico_mensagens || [];\nif (typeof historico === 'string') {\n  try { historico = JSON.parse(historico); } catch(e) { historico = []; }\n}\n\nlet historyText = historico.map(msg => `${msg.role === 'user' ? 'Cliente' : 'SDR'}: ${msg.content}`).join(\"\\n\");\nif (!historyText) historyText = \"Nenhuma interação anterior.\";\n\nlet missingFields = [];\nif (!lead.regiao_interesse) missingFields.push(\"regiao_interesse\");\nif (!lead.tipo_imovel) missingFields.push(\"tipo_imovel\");\nif (!lead.renda_mensal) missingFields.push(\"renda_mensal\");\nif (!lead.valor_entrada) missingFields.push(\"valor_entrada\");\nif (!lead.prazo_compra) missingFields.push(\"prazo_compra\");\n\nreturn {\n  telefone: payload.telefone,\n  lead_id: lead.id,\n  nome: lead.nome || payload.nome,\n  mensagem_atual: payload.mensagem,\n  historico_texto: historyText,\n  historico_array: historico,\n  status_atual: lead.status_funil || 'frio',\n  campos_faltantes: missingFields.join(\", \"),\n  lead_completo: lead\n};\n"
      },
      "name": "Preparar Contexto IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        62768,
        22592
      ],
      "id": "cb46ad83-2d91-472b-afcf-28ca33a4970b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Normalizar Payload').first().json.IA_MODE }}",
              "value2": "mock"
            }
          ]
        }
      },
      "name": "Usar Mock IA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        62976,
        22592
      ],
      "notesInFlow": true,
      "id": "1f3ca574-4450-40b1-bf48-143e558d1989",
      "notes": "Mude para FALSE para usar a OpenAI real"
    },
    {
      "parameters": {
        "jsCode": "// Normalizar Texto\nconst normalize = (text) => {\n  if (!text) return \"\";\n  return text.toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '');\n};\n\nconst payload = $('Normalizar Payload').first().json;\nconst mensagemOriginal = payload.mensagem || \"\";\nconst msg = normalize(mensagemOriginal);\n\nlet score = 0;\nlet dadosExtraidos = {\n  orcamento: null,\n  prazo_compra: null,\n  urgencia: \"baixa\",\n  forma_pagamento: null,\n  produto_interesse: null\n};\n\n// 1. Detectar Valores Monetários (Regex)\nconst moneyRegex = /(?:r\\$|rs|\\$)?\\s?(\\d+(?:[.,]\\d+)*)\\s?(mil|k|milhoes|m)?/gi;\nconst matchMoney = moneyRegex.exec(msg);\nif (matchMoney) {\n    let valorStr = matchMoney[1];\n    if (valorStr.includes('.') && valorStr.includes(',')) {\n        valorStr = valorStr.replace(/\\./g, '').replace(',', '.');\n    } else if (valorStr.includes(',')) {\n        valorStr = valorStr.replace(',', '.');\n    } else if (valorStr.includes('.') && valorStr.length > 3 && valorStr.split('.').pop().length === 3) {\n        valorStr = valorStr.replace(/\\./g, '');\n    }\n    \n    let valor = parseFloat(valorStr);\n    let sufixo = matchMoney[2] ? matchMoney[2].toLowerCase() : '';\n    if (sufixo === 'mil' || sufixo === 'k') valor *= 1000;\n    if (sufixo === 'milhoes' || sufixo === 'm') valor *= 1000000;\n    dadosExtraidos.orcamento = valor;\n    score += 20;\n} else if (msg.match(/tenho|possuo|disponho|orcamento|investir|entrada/)) {\n    score += 20;\n}\n\n// 2. Necessidade clara / Produto\nif (msg.match(/comprar|adquirir|contratar|fechar|agendar|apartamento|casa|imovel|unidade/)) {\n    score += 20;\n    if (msg.includes('apartamento')) dadosExtraidos.produto_interesse = 'Apartamento';\n    else if (msg.includes('casa')) dadosExtraidos.produto_interesse = 'Casa';\n}\n\n// 3. Prazo / Urgência\nif (msg.match(/hoje|agora|urgente|esta semana|este mes|imediatamente/)) {\n    score += 20;\n    dadosExtraidos.urgencia = \"alta\";\n    if (msg.includes('mes')) dadosExtraidos.prazo_compra = \"Este mês\";\n    if (msg.includes('semana')) dadosExtraidos.prazo_compra = \"Esta semana\";\n}\n\n// 4. Forma de Pagamento\nif (msg.match(/financiado|financiamento|a vista|consorcio|pagar/)) {\n    score += 20;\n    if (msg.includes('financiamento')) dadosExtraidos.forma_pagamento = \"Financiamento\";\n    else if (msg.includes('a vista')) dadosExtraidos.forma_pagamento = \"À vista\";\n}\n\n// 5. Interesse Alto\nif (msg.match(/quero comprar|tenho interesse|quero agendar|quero fechar|agendar visita|tenho urgencia/)) {\n    score += 20;\n}\n\nscore = Math.min(score, 100);\n\n// Atribuição de Temperatura e Status\nlet temperatura = \"Frio\";\nlet status_funil = \"Novo\";\n\nif (score >= 90) { temperatura = \"Pronto para Vendas\"; status_funil = \"Pronto para Vendas\"; }\nelse if (score >= 70) { temperatura = \"Quente\"; status_funil = \"Quente\"; }\nelse if (score >= 40) { temperatura = \"Morno\"; status_funil = \"Morno\"; }\nelse if (score > 0) { temperatura = \"Frio\"; status_funil = \"Coletando Informações\"; }\n\nconst encaminhar = (score >= 80 && (temperatura === \"Quente\" || temperatura === \"Pronto para Vendas\"));\nconst proximaAcao = encaminhar ? \"Encaminhar para consultor\" : \"Continuar qualificação\";\n\n// Respostas\nlet resposta = \"Olá! Será um prazer ajudar. Pode me contar um pouco mais sobre o que você está procurando?\";\nif (status_funil === \"Coletando Informações\" || status_funil === \"Morno\") {\n    resposta = \"Perfeito. Para entender melhor o seu perfil, poderia informar sua faixa de investimento e em quanto tempo pretende tomar a decisão?\";\n} else if (status_funil === \"Quente\") {\n    resposta = \"Excelente. Com base nas informações fornecidas, seu perfil está alinhado. Vou encaminhar seus dados para um consultor especializado.\";\n} else if (status_funil === \"Pronto para Vendas\") {\n    resposta = \"Ótimo! Seu interesse foi identificado como prioritário e seu atendimento será encaminhado ao consultor responsável.\";\n}\n\n// Resumo SDR\nlet resumo = `Lead interessado em ${dadosExtraidos.produto_interesse || 'imóvel'}.`;\nif (dadosExtraidos.orcamento) resumo += ` Orçamento: R$ ${dadosExtraidos.orcamento.toLocaleString('pt-BR')}.`;\nif (dadosExtraidos.prazo_compra) resumo += ` Prazo: ${dadosExtraidos.prazo_compra}.`;\n\nconst mockJson = {\n    resposta_para_usuario: resposta,\n    score_qualificacao: score,\n    temperatura: temperatura,\n    status_funil: status_funil,\n    encaminhar_para_consultor: encaminhar,\n    resumo_sdr: resumo,\n    dados_extraidos: dadosExtraidos,\n    proxima_acao: proximaAcao\n};\n\nreturn {\n  message: { content: JSON.stringify(mockJson, null, 2) }\n};"
      },
      "name": "Mock IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        63536,
        22464
      ],
      "id": "1ee63875-7995-4d71-b03f-a0355dc40484"
    },
    {
      "parameters": {
        "jsCode": "// 1. Busca a resposta em todos os lugares possíveis (Gemini ou OpenAI)\nlet responseText = $json?.content?.parts?.[0]?.text || $json.text || ($json.message && $json.message.content) || \"\";\n\nlet parsed = {};\ntry {\n  // 2. Limpa formatações e tenta converter para JSON\n  let cleaned = responseText.replace(/^```(json)?/im, \"\").replace(/```$/im, \"\").trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  // 3. Em caso de falha, resposta amigável e status seguro\n  parsed = { \n    resposta_para_usuario: \"Desculpe, estava processando uma informação. Poderia repetir o que você disse?\", \n    dados_extraidos: {}, \n    status_funil: \"Coletando Informações\", \n    encaminhar_para_consultor: false,\n    score_qualificacao: 0,\n    temperatura: \"Frio\",\n    resumo_sdr: \"\",\n    proxima_acao: \"Continuar qualificação\"\n  };\n}\n\nlet context = $('Preparar Contexto IA').first().json;\nlet historico = context.historico_array || [];\n\nhistorico.push({ role: \"user\", content: context.mensagem_atual });\nhistorico.push({ role: \"assistant\", content: parsed.resposta_para_usuario });\n\nlet updateData = Object.assign({}, context.lead_completo);\nupdateData.historico_mensagens = historico;\nupdateData.status_funil = parsed.status_funil || updateData.status_funil;\nupdateData.score_qualificacao = parsed.score_qualificacao || 0;\nupdateData.temperatura = parsed.temperatura || 'Frio';\nupdateData.encaminhar_para_consultor = parsed.encaminhar_para_consultor || false;\nupdateData.resumo_sdr = parsed.resumo_sdr || \"\";\nupdateData.proxima_acao = parsed.proxima_acao || \"Continuar qualificação\";\nupdateData.perfil_psicologico = parsed.perfil_psicologico || \"Não Identificado\";\nupdateData.tags_comportamentais = parsed.tags_comportamentais || [];\nupdateData.nivel_urgencia = parsed.nivel_urgencia || \"Baixa\";\nupdateData.tom_recomendado_ia = parsed.tom_recomendado_ia || \"Neutro\";\nupdateData.ultima_interacao = new Date().toISOString();\n\nif (parsed.dados_extraidos) {\n  updateData.orcamento = parsed.dados_extraidos.orcamento;\n  updateData.produto_interesse = parsed.dados_extraidos.produto_interesse;\n  if (parsed.dados_extraidos.regiao_interesse) updateData.regiao_interesse = parsed.dados_extraidos.regiao_interesse;\n  if (parsed.dados_extraidos.tipo_imovel) updateData.tipo_imovel = parsed.dados_extraidos.tipo_imovel;\n  if (parsed.dados_extraidos.renda_mensal) updateData.renda_mensal = parsed.dados_extraidos.renda_mensal;\n  if (parsed.dados_extraidos.valor_entrada) updateData.valor_entrada = parsed.dados_extraidos.valor_entrada;\n  if (parsed.dados_extraidos.prazo_compra) updateData.prazo_compra = parsed.dados_extraidos.prazo_compra;\n}\n\nreturn {\n  id: context.lead_id,\n  telefone: context.telefone,\n  lead_id: context.lead_id,\n  resposta_para_usuario: parsed.resposta_para_usuario,\n  deve_encaminhar_gerente: parsed.encaminhar_para_consultor,\n  updateData: updateData\n};"
      },
      "name": "Processar Resposta JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        63744,
        22592
      ],
      "id": "a890994e-91f2-4cba-a149-cced0e236a9f"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_funil",
              "fieldValue": "={{$json.updateData.status_funil}}"
            },
            {
              "fieldId": "regiao_interesse",
              "fieldValue": "={{$json.updateData.regiao_interesse}}"
            },
            {
              "fieldId": "tipo_imovel",
              "fieldValue": "={{$json.updateData.tipo_imovel}}"
            },
            {
              "fieldId": "renda_mensal",
              "fieldValue": "={{$json.updateData.renda_mensal}}"
            },
            {
              "fieldId": "valor_entrada",
              "fieldValue": "={{$json.updateData.valor_entrada}}"
            },
            {
              "fieldId": "prazo_compra",
              "fieldValue": "={{$json.updateData.prazo_compra}}"
            },
            {
              "fieldId": "interesse_financiamento",
              "fieldValue": "={{$json.updateData.interesse_financiamento}}"
            },
            {
              "fieldId": "score_qualificacao",
              "fieldValue": "={{$json.updateData.score_qualificacao}}"
            },
            {
              "fieldId": "temperatura",
              "fieldValue": "={{$json.updateData.temperatura}}"
            },
            {
              "fieldId": "encaminhar_para_consultor",
              "fieldValue": "={{$json.updateData.encaminhar_para_consultor}}"
            },
            {
              "fieldId": "resumo_sdr",
              "fieldValue": "={{$json.updateData.resumo_sdr}}"
            },
            {
              "fieldId": "orcamento",
              "fieldValue": "={{$json.updateData.orcamento}}"
            },
            {
              "fieldId": "produto_interesse",
              "fieldValue": "={{$json.updateData.produto_interesse}}"
            },
            {
              "fieldId": "ultima_interacao",
              "fieldValue": "={{$json.updateData.ultima_interacao}}"
            },
            {
              "fieldId": "proxima_acao",
              "fieldValue": "={{$json.updateData.proxima_acao}}"
            },
            {
              "fieldId": "perfil_psicologico",
              "fieldValue": "={{$json.updateData.perfil_psicologico}}"
            },
            {
              "fieldId": "tags_comportamentais",
              "fieldValue": "={{$json.updateData.tags_comportamentais}}"
            },
            {
              "fieldId": "nivel_urgencia",
              "fieldValue": "={{$json.updateData.nivel_urgencia}}"
            },
            {
              "fieldId": "tom_recomendado_ia",
              "fieldValue": "={{$json.updateData.tom_recomendado_ia}}"
            }
          ]
        }
      },
      "name": "Atualizar Lead (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        63936,
        22592
      ],
      "alwaysOutputData": true,
      "id": "3f67c0fb-5f59-49e7-b8a8-aa8d7d02c7d9",
      "credentials": {
        "supabaseApi": {
          "id": "3Hp4m3KaX23RwFHq",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "mensagem_para_cliente",
              "value": "={{ $json.mensagem_para_cliente }}"
            },
            {
              "name": "alerta_gerente",
              "value": "={{ $json.alerta_gerente }}"
            },
            {
              "name": "debug_ia_usada",
              "value": "={{ $json.debug_ia_usada }}"
            },
            {
              "name": "debug_status_funil",
              "value": "={{ $json.debug_status_funil }}"
            },
            {
              "name": "mock_whatsapp_gerente",
              "value": "==🚨 *NOVO LEAD QUALIFICADO* 🚨\n\n👤 *Nome:* {{ $('Atualizar Lead (Supabase)').first().json.nome }}\n📞 *Telefone:* {{ $('Atualizar Lead (Supabase)').first().json.telefone }}\n\n🔥 *Temperatura:* {{ $('Atualizar Lead (Supabase)').first().json.temperatura }}\n📊 *Score:* {{ $('Atualizar Lead (Supabase)').first().json.score_qualificacao }}/100\n\n💡 *Resumo da IA (SDR):*\n{{ $('Atualizar Lead (Supabase)').first().json.resumo_sdr }}\n\n💰 *Dados do Lead:*\n- Interesse: {{ $('Atualizar Lead (Supabase)').first().json.produto_interesse || 'Não informado' }}\n- Orçamento: R$ {{ $('Atualizar Lead (Supabase)').first().json.orcamento || 'Não informado' }}\n- Entrada: R$ {{ $('Atualizar Lead (Supabase)').first().json.valor_entrada || 'Não informada' }}\n- Região: {{ $('Atualizar Lead (Supabase)').first().json.regiao_interesse || 'Não informada' }}\n\n💬 *Última mensagem do lead:*\n\"{{ $('Normalizar Payload').first().json.mensagem }}\"\n"
            }
          ]
        },
        "options": {}
      },
      "name": "Preparar Alerta Gerente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        64960,
        22576
      ],
      "id": "4f0a8b26-8b55-4ab0-8b04-17b6cda052d1"
    },
    {
      "parameters": {
        "jsCode": "const ambiente = $('Normalizar Payload').first().json.AMBIENTE || 'producao';\nconst resposta = $('Processar Resposta JSON').first().json.resposta_para_usuario;\nconst status_funil = $('Atualizar Lead (Supabase)').first().json.status_funil;\nconst ia_mode = $('Normalizar Payload').first().json.IA_MODE;\n\nlet result = {\n  resposta_para_usuario: resposta,\n  status: status_funil\n};\n\nif (ambiente === 'teste') {\n  result.debug_ia_usada = ia_mode;\n  result.debug_status_funil = status_funil;\n}\n\nreturn result;"
      },
      "name": "Preparar Resposta Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64144,
        22592
      ],
      "id": "097681a4-6519-413a-9903-b462f624aa89"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        64352,
        22592
      ],
      "id": "955f9f2c-aa05-42a2-9da2-664d3e291abf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalizar Payload').first().json.WHATSAPP_API_URL }}{{ $('Normalizar Payload').first().json.WHATSAPP_ENDPOINT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalizar Payload').first().json.WHATSAPP_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Normalizar Payload').first().json.telefone }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": {{ JSON.stringify($('Preparar Resposta Cliente').first().json.resposta_para_usuario) }}\n  }\n}",
        "options": {}
      },
      "id": "54926b98-6ede-46de-89a6-136e38584393",
      "name": "Enviar WhatsApp Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        58352,
        20816
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Tratamento de Erro ativado (Continue On Fail)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normalizar Payload').first().json.WHATSAPP_API_URL }}{{ $('Normalizar Payload').first().json.WHATSAPP_ENDPOINT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normalizar Payload').first().json.WHATSAPP_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Normalizar Payload').first().json.GERENTE_TELEFONE }}\",\n  \"options\": {\n    \"delay\": 1200,\n    \"presence\": \"composing\"\n  },\n  \"textMessage\": {\n    \"text\": {{ JSON.stringify($('Preparar Alerta Gerente').first().json.mock_whatsapp_gerente) }}\n  }\n}",
        "options": {}
      },
      "id": "a12fba8d-2eca-4c03-9822-42f45092f143",
      "name": "Enviar WhatsApp Gerente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        58752,
        20912
      ],
      "notesInFlow": true,
      "continueOnFail": true,
      "notes": "Tratamento de Erro ativado (Continue On Fail)"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-3.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um SDR (Sales Development Representative) Enterprise de alta performance do setor imobiliário.\nSeu objetivo NÃO é empurrar uma venda imediatamente, mas atuar em 5 camadas:\n1. DESCOBERTA: Identificar a verdadeira intenção, orçamento e prazo.\n2. CONEXÃO EMOCIONAL: Criar rapport. Validar a situação familiar ou financeira.\n3. ADAPTAÇÃO AO PERFIL: Detectar o Perfil Psicológico do cliente (ex: Analítico, Emocional, Desconfiado, Impulsivo, Investidor, Família) e espelhar o tom dele. Se for analítico, seja objetivo. Se for emocional, traga empatia.\n4. CONDUÇÃO: Fazer no MÁXIMO UMA pergunta clara por mensagem.\n5. PERSUASÃO NATURAL: Gerar segurança.\n\nREGRAS DE CONVERSA:\n- Não envie blocos gigantes de texto (parece robótico).\n- Aja de forma humana: pode usar pequenas pausas ou empatia antes de responder.\n- Adapte o tamanho das respostas, velocidade e formalidade ao tom do cliente.\n- Se o lead estiver bem qualificado (já passou orçamento e produto), 'encaminhar_para_consultor' deve ser true, e a resposta deve ser a transferência suave para o humano.\n\nESTRUTURA DE RETORNO OBRIGATÓRIA (JSON ESTrito):\n{\n  \"resposta_para_usuario\": \"Sua resposta humana, adaptada ao perfil.\",\n  \"status_funil\": \"Novo\" | \"Coletando Informações\" | \"Morno\" | \"Quente\" | \"Pronto para Vendas\",\n  \"score_qualificacao\": 80,\n  \"temperatura\": \"Frio\" | \"Morno\" | \"Quente\" | \"Pronto para Vendas\",\n  \"encaminhar_para_consultor\": boolean,\n  \"proxima_acao\": \"Ação estratégica que você tomou agora.\",\n  \"resumo_sdr\": \"Resumo executivo do que o lead quer e sua intenção real.\",\n  \"perfil_psicologico\": \"Analítico\" | \"Emocional\" | \"Desconfiado\" | \"Impulsivo\" | \"Investidor\" | \"Família\" | \"Misto\",\n  \"tags_comportamentais\": [\"ansioso\", \"pesquisador\", \"decidido\"],\n  \"nivel_urgencia\": \"Baixa\" | \"Média\" | \"Alta\",\n  \"tom_recomendado_ia\": \"Instrução para si mesmo no próximo turno (ex: 'Seja direto', 'Valide emoções')\",\n  \"dados_extraidos\": {\n    \"orcamento\": null,\n    \"produto_interesse\": null,\n    \"regiao_interesse\": null,\n    \"tipo_imovel\": null,\n    \"valor_entrada\": null,\n    \"prazo_compra\": null\n  }\n}\n\nHistórico:\n{{ $('Preparar Contexto IA').first().json.historico_texto }}\nÚltima Mensagem:\n{{ $('Preparar Contexto IA').first().json.mensagem_atual }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        63328,
        22608
      ],
      "id": "f6565923-8511-4e72-813c-3efd150702f2",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "2BXU3rUDkK69jCwT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "victorfonseca0110@gmail.com",
        "toEmail": "victorfonseca0110@gmail.com",
        "subject": "={{ '🚨 Novo Lead Qualificado: ' + $('Atualizar Lead (Supabase)').first().json.nome }}",
        "html": "=<h2>🚨 Novo Lead Qualificado Recebido!</h2>\n<p>O SDR Agent acabou de qualificar um lead quente e o encaminhou para você.</p>\n<hr>\n<ul>\n  <li><strong>Nome:</strong> {{$('Atualizar Lead (Supabase)').first().json.nome}}</li>\n  <li><strong>Telefone:</strong> {{$('Atualizar Lead (Supabase)').first().json.telefone}}</li>\n  <li><strong>Score:</strong> {{$('Atualizar Lead (Supabase)').first().json.score_qualificacao}} / 100</li>\n  <li><strong>Status:</strong> {{$('Atualizar Lead (Supabase)').first().json.status_lead}}</li>\n</ul>\n<p><strong>Resumo do Atendimento:</strong></p>\n<p><em>{{$('Processar Resposta JSON').first().json.resumo_atendimento}}</em></p>\n<br>\n<p>Acesse o <a href=\"http://localhost:5173/\">Dashboard</a> para ver o histórico completo das mensagens e assumir o atendimento no WhatsApp!</p>\n",
        "options": {}
      },
      "id": "39284502-8a05-4227-b7c2-b89089f22840",
      "name": "Enviar Email Gerente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        65328,
        22576
      ],
      "webhookId": "3f181878-b87a-4883-baea-7d55373867ca",
      "credentials": {
        "smtp": {
          "id": "lGYexJRlXu6311DL",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Normalizar Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Payload": {
      "main": [
        [
          {
            "node": "Consultar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Lead": {
      "main": [
        [
          {
            "node": "Novo Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novo Lead?": {
      "main": [
        [
          {
            "node": "Criar Novo Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Juntar Fluxos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Lead": {
      "main": [
        [
          {
            "node": "Juntar Fluxos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Fluxos": {
      "main": [
        [
          {
            "node": "Preparar Contexto IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto IA": {
      "main": [
        [
          {
            "node": "Usar Mock IA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usar Mock IA?": {
      "main": [
        [
          {
            "node": "Mock IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock IA": {
      "main": [
        [
          {
            "node": "Processar Resposta JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta JSON": {
      "main": [
        [
          {
            "node": "Atualizar Lead (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Lead (Supabase)": {
      "main": [
        [
          {
            "node": "Preparar Resposta Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Alerta Gerente": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp Gerente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta Cliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp Cliente": {
      "main": [
        [
          {
            "node": "Preparar Alerta Gerente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp Gerente": {
      "main": [
        [
          {
            "node": "Enviar Email Gerente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Processar Resposta JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e39d2a6fc33498f4410351f589ed65104bce5813fc456d2b984b9d0e9a374e9"
  }
}